extends layout 

block content 
    h1 Faculty
    form#loginForm(action="/login/validate", method="POST")
        h2 Students
        #alert
        select(id='students', name='students', required)
        br
        select(id='plans', name='plans', required)
        br
        #buttons
            button(type='submit' id='loginButton', name='loginButton') View

        // Scripts
        script(src='../javascripts/facultyFunctions.js')