extends layout

block content
  ul.fireflies
  // Banner
  #banner 
    #logobox 
      p Logo 
    #studentInfo 
      // Pipe chars preserve space at the end of a line
      p#studentName Student: 
      p#studentMajor Major: 
      p#studentCatalog Catalog: 
      p#studentMinor Minor:
    #buttons 
      .button Logout 
      .button Options
        #dropper
              ul(style="list-style: none")
                li
                  a(href="/add") Create Plan
                li
                  a(href="/manage") Manage Plan
                li
                  a(href="") Print
                li
                  a(href="") Show Grades
                li
                  a(href="") Waiver
                li
                  a(href="") About
                li
                  a(href="") Waiver
                li
                  a(href="") About
                li
                  a(href="") Help
                li
                  a(href="") Report Abuse

      .button#save Save 
  
  // Content
  #content 

    #left
      // Upper Left
      #upperLeft.upper.quad
        h2 Requirements 
        #accordion 

      // Lower Left
      #lowerLeft.lower.quad
        h2 Links 
        .button Home 
        .button Josiah 
        .button Silas 
        .button Spencer

    #right
      // Upper Right
      #upperRight.upper.quad
        h2 Academic Plan 
        p#studentCredits.condense Total Credits: 
        .scrollbox
          .year
          #notes
            input(type="textarea")
            .button#addYear + Add Year
            .button#delYear - Delete Year
          #changeLog
          #profNotes input(type="textarea")

      // Lower Right
      #lowerRight.lower.quad
        h2 Course Finder 
        #courseFinderBanner 
        #courseFinder.scrollbox 
          #courseId 
          #courseName 
          #courseDescription 
          #courseCredits


  // Scripts
  script(src='../javascripts/indexFunctions.js')
