extends layout

block content
  ul.fireflies
  // Banner
  #banner 
    #logobox 
      img(src="/img/logo.png")#logo 
    #studentInfo 
      // Pipe chars preserve space at the end of a line
      p#studentName Student: 
      p#studentMajor Major: 
      p#studentCatalog Catalog: 
      p#studentMinor Minor:
    #buttons 
      .button Logout 
      .button Options
        #dropper
              ul(style="list-style: none")
                li
                  a(href="/add") Create Plan
                li
                  a(href="/manage") Manage Plan
                li
                  a(href="") Print
                li
                  a(href="") Show Grades
                li
                  a(href="") Waiver
                li
                  a(href="") About
                li
                  a(href="") Waiver
                li
                  a(href="") About
                li
                  a(href="") Help
                li
                  a(href="") Report Abuse

      .button#save Save 
  
  // Content
  #content 

    #left
      // Upper Left
      #upperLeft.upper.quad
        h2 Requirements 
        #accordion 

      // Lower Left
      #lowerLeft.lower.quad
        h2 Links 
        .button Home 
        .button Josiah 
        .button Silas 
        .button Spencer

    #right
      // Upper Right
      #upperRight.upper.quad
        h2 Academic Plan 
        p#studentCredits.condense Total Credits: 
        .scrollbox
          #planCont
          form#saveForm(action="/index/save", method="POST")
            #notes
              input(type="textarea" placeholder="Student Notes" name="studentNotes")
              .button#addYear + Add Year
              .button#delYear - Delete Year
            input(type="textarea" placeholder="Faculty Notes" name="facultyNotes")#profNotes
            input(type="text", name="changeLog")#changeLog

      // Lower Right
      #lowerRight.lower.quad
        h2 Course Finder 
        #courseFinderBanner 
        #courseSearchBox Course Search 
          input.search(
              type='text'
              name='search'
              placeholder='CS-1220'
              id='cSearch'
            )
        #courseFinder.scrollbox 
          #courseId 
          #courseName 
          #courseDescription 
          #courseCredits


  // Scripts
  script(src='../javascripts/indexFunctions.js')
