doctype html
html(lang='en-US')
  head
    block head
      title= 'APE'
      script(src='https://code.jquery.com/jquery-3.6.0.min.js')
      link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
