doctype html
html(lang='en-US')
  head
    block head
      title= 'APE'
      script(src='https://code.jquery.com/jquery-3.6.0.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js')
      script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
      link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
