extends layout 

block content 
    form#loginForm(action="/login/validate", method="POST") 
        h1 Login
        #alert
        label(for='username') Username
        br
        input(type='text', id='username', name='username', required)
        br
        label(for='password') Password
        br
        input(type='password', id='password', name='password', required)
        br
        #buttons
            button(type='submit' id='loginButton', name='loginButton') Login
            button(type='button', id='registerButton', name='registerButton') Register

    // Scripts
    script(src='../javascripts/loginFunctions.js')