extends layout 

block content 
    form#loginForm(action="/register/validate", method="POST") 
        h1 Register
        #alert
        label(for='username') Username
        br
        input(type='text', id='username', name='username', required, oninvalid="this.setCustomValidity('Please provide a username')")
        br
        label(for='password') Password
        br
        input(type='password', id='password', name='password', required, oninvalid="this.setCustomValidity('Please provide a password')")
        br
        label(for='password') Confirm password
        br
        input(type='password', id='retypedPassword', name='retypedPassword', required, oninvalid="this.setCustomValidity('Please retype password')")
        br
        #buttons
            button(type='submit', id='registerButton', name='registerButton') Register
            button(type='button' id='loginButton', name='loginButton') Login

    // Scripts
    script(src='../javascripts/registerFunctions.js')