extends layout

block content
    h1= title
    h3 Get Data
    div 
        if items
            // We get these passed in from the associate .js file (whatever renders the page)
            each item in items
                article.item
                div Username: #{item.UserName}
                div Password: #{item.PasswordHash}
        else
            // We configured paths in app.js to work like this
            // If you want an action: /view/action
            a(href="/users/get-users" style="color:blue") LOAD DATA
            p Click the link to load data!
